* {
  color: white;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  background-image: url('img/NeoN_Logo-wide-1024x374.jpg');
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
}

#space{
  background-image: url(img/spaceMainMenu.jpg);
}

/* Adjusted styles to make the navbar sticky */
.navbar {
  background-color: #333333;
  padding: 1px;
  display: flex;
  justify-content: center;
  margin-bottom: 1vw;
  position: sticky;
  top: 0;
  z-index: 1000; /* Ensure the navbar is on top of other elements */
}

.navbar h1 {
  display: inline;
}

.navbar nav ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  justify-content: center;
}

.navbar nav ul li {
  margin: 0 2vw; /* Adjust the margin as needed */
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  
}

.project-header {
  text-align: center; /* Align text to the center */ 
  background-color: #333333bc;
  width: 70%;
  font-size: 20px;
}

.my-features > h2{
  font: 16px;
}

.project-details {
  /* Adjusted width as specified */
  background-color: #333333bc;
  height: 50vw;
  width: 70%;
  overflow: auto; /* Added overflow property to enable scrolling for overflowing content */
}

.project-text {
  text-align: center;
  padding: 2vw;
  flex-direction: row;
}
.project-stats{
  display: flex;
  flex-direction: row;
  padding-left: 4vw;
  justify-content:  space-evenly;
}

.project-description{
  padding: 2vw;
}

.project-description > .h2{
  font-size: 36px;
  margin-top: 20px;
  margin-bottom: 10px;
}

.project-description > .p{
  font-size: 14px;
}

.project-description > .subtitle{
  font-size: 16px;
}

.project-images{
  text-align: center;
  font-size: 14px;

}

footer {
  background-color: #333333;
  text-align: center;
  padding: 2%;
  display: block;
}
