/* styles.css */
body {
  font-family: Arial, sans-serif;
  margin: 0;
}

.navbar {
  background-color: #f4f4f4;
  padding: 10px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.navbar h1 {
  display: inline;
}

.navbar nav ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  justify-content: space-evenly;
}

.navbar nav ul li {
  margin: 0 15px;
}

.introTitle{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.slider {
  width: 50%; /* Adjust the width as needed */
  margin: 0 auto;
  position: relative;
  overflow: hidden;
}

.slider a {
  display: none;
}

.slider img {
  width: 100%; /* Adjust the width as needed */
  height: auto;
}

.prevButton,
.nextButton {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: #4CAF50;
  color: white;
  padding: 10px 15px;
  border: none;
  cursor: pointer;
}

.prevButton {
  left: 0;
}

.nextButton {
  right: 0;
}

section {
  margin: 20px;
}

footer {
  background-color: #f4f4f4;
  text-align: center;
  padding: 10px;
}
