body, html {
  height: 100%;
  margin: 0;
  font-family: Arial;
}

.tablink {
  background-color: #333;
  color: white;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  font-size: 15px;
}

.tablink:hover {
  background-color: none;
}

.tabcontent {
  color: white;
  display: none;
  padding: 0px 0px;
  height: 100%;
}

.navbar {
  overflow: hidden;
  background-color: #333;
}

.navbar a {
  display: inline-block;
  color: #E43681;
  outline: none;
  text-align: center;
  padding: 8px 150px;
  text-decoration: none;
  font-size: 14px;
  border-radius: 5px;
}

.navbar a.right {
  float: right;
}

.navbar a:hover {
  color: black;
}

.pill-nav a.active{
  background-color: dodgerblue;
  color: white;
}

#Home {background-color: white;}
#News {background-color: #6C193D;}
#Contact {background-color: #5269DD;}
#About {background-color: #517B9D;}

.header {
  padding: 40px;
  background: #5269DD;
  color: white;
}

.header h1 {
  font-size: 40px;
  font-weight: bold;
}

.header h3 {
  font-size: 20px;
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}

* {
  box-sizing: border-box;
}

.mainSection {
  display: flex;
  flex-wrap: wrap;
}


.project-container{
  margin-top: 0px;
  width: 450px;
  height: 400px;
  background-color:black;
  display:grid 2;
  grid-template-columns: 200px 200px;
  grid-row: auto auto;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  box-sizing: border-box;
}

.project-box{
    background-color: purple;
    padding:2px;
    border-radius:0px;
    color:#fff;
    display:flex;
    align-items:center;
    justify-content:center;
    font-size:40px;
    font-family:sans-serif;
}


.side {
  flex: 20.5%;
  background-color: #6C193D;
  padding: 20px;
}

/* main */

.main {
  flex: 70%; /* Set the width of the main content */
  background-color: #517B9D;
  padding: 20px;
}

/* Phone Compability */
@media screen and (max-width: 700px) {
  .mainSection {
    flex-direction: column;
  }
}

@media screen and (max-width: 400px) {
  .navbar a {
    float: none;
    width: 100%;
  }
}

.footer {
  padding: 20px;
  text-align: center;
  background: #C1306F;
}