*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}
/* Font-family Later nog aanpassen op de style */
body{
    font-family: sans-serif;
    font-size: 14px;
}

/* Color palette - Cyber Alley */
/* 
#E43681 
#C1306F
#6C193D
#5269DD
#517B9D
#221e41
#3b3f88
#7089c1
#c51c6d
#af2499
*/ 

.header{
    background: #5269DD;
    display:flex;
    height:80px;
    justify-content: space-between;
    align-items:center;
    padding:20px;
    padding-left:20px;
    padding-right:20px;
}

.footer{
    height:80px;
    background:#221e41;
    display:flex;
    color:white;
    justify-content: space-between;
    align-items:center;
    padding: 20px;
    /*padding-left:20px;
    padding-right:40px;*/
}